<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Spain</title>
</head>
<style>
    body {
        background-image: url("https://assets.laliga.com/assets/201507/855x481_02125041fa15_fb_ordem_ball_smoke_bbva.jpg");
        background-size: cover;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg" style=" color: darkgoldenrod ;font-size: large">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/bet/spain}" style="color: burlywood">Back</a>
            </li>

            <div style="position:fixed; right: 5vmin">

                <div style="position: relative; right: 25vmin">
                    <li style="justify-items: right;">
                        <h2 id="c_t"
                            th:text="${#dates.createNow().getHours() + ':' + #dates.createNow().getMinutes() + ':' + #dates.createNow().getSeconds()}"></h2>

                    </li>
                </div>

                <div style="position:relative; right:  0vmin; top: -5vmin">
                    <li class="nav-item">
                        <img th:src="${session.userPhoto}" class="img-thumbnail img-responsive" th:width="100vmin"
                             th:height="100vmin"/>
                    </li>
                </div>
            </div>
        </ul>

    </div>
</nav>

<div class="container">

    <div class="alert alert-info text-center"
         th:if="${noBetsYet}"
         th:text="${noBetsYet}">
    </div>

    <div th:unless="${noBetsYet}" class="table-responsive mt-5" style="text-align: center">

        <table class="table table-hover">
            <caption class="mt-2" style="text-align: center">Matches you 've bet already
            </caption>
            <thead class="thead-inverse" th:style="'color: red'">
            <tr>
                <th>MATCH DAY</th>
                <th>DATE</th>
                <th>HOME TEAM</th>
                <th>AWAY TEAM</th>
                <th>BET SCORE</th>
            </tr>

            </thead>
            <span th:each="entry: ${allBets}">
            <tr th:each="betScore, iStat: ${allBets[__${entry.key}__]}">
                <td th:style="${iStat.odd}? 'color: lightsalmon' : 'color: yellow'"><span
                        th:text="${betScore.matchDay}"> date </span>
                </td>
                <td th:style="${iStat.odd}? 'color: lightsalmon' : 'color: yellow'"><span
                        th:text="${#temporals.format(betScore.matchStartingTime,'dd-MM-yyyy, HH:mm | EEE')}"> date </span>
                </td>
                <td th:style="${iStat.odd}? 'color: lightsalmon' : 'color: yellow'"><span
                        th:text="${betScore.homeTeamName}"> Home team </span></td>
                <td th:style="${iStat.odd}? 'color: lightsalmon' : 'color: yellow'"><span
                        th:text="${betScore.awayTeamName}"> Away team </span></td>
                <td th:style="${iStat.odd}? 'color: lightsalmon' : 'color: yellow'">
                    <span th:text="|${betScore.homeScore}: ${betScore.awayScore}|"></span>
                </span>
        </table>

    </div>

    <div th:insert="fragments/footer.html :: footer"></div>
</div>
<script th:src="@{/js/hourTime.js}"></script>
</body>
</html>
