<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:fragment="headerfiles">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css"/>
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    </head>
<body>

<footer th:fragment="footer" class="page-footer" style="float: bottom">

    <div class="footer-copyright text-center" style="font-size: 2vmin; color: gold">© 2019 Copyright:
        <a href="https://github.com/CoderNoOne" style="font-size: 2vmin;color: cornflowerblue"> CoderNoOne</a>
    </div>

</footer>
</body>
</html>