.circle {
    width: 6.4vmin;
    height: 6.4vmin;
    border-radius: 50%;
    font-size: 3.84vmin;
    color: #fff;
    line-height: 6.4vmin;
    text-align: center;
    background: #000;
    border: 0.3vmin solid #73AD21;
    position: relative;
}

.pitch {
    background: linear-gradient(
            to bottom,
            #5d9634,
            #5d9634 50%,
            #538c2b 50%,
            #538c2b
    );
    top: 5vmin;
    bottom: 20vmin;
    left: 20vmin;
    background-size: 100% 16vmin;
    border: solid 0.2vmin #fff;
    height: 80vmin;
    position: relative;
    width: 60vmin;

}

.top-box {
    border: solid 0.1vmin #fff;
    bottom: 70vmin;
    left: 20vmin;
    position: absolute;
    right: 20vmin;
    top: 0;
}


.bottom-box {
    border: solid 0.1vmin #fff;
    bottom: 0;
    left: 20vmin;
    position: absolute;
    right: 20vmin;
    top: 70vmin;
}

.centre-circle {
    border: solid 0.1vmin #fff;
    border-radius: 100%;
    bottom: 35vmin;
    left: 25vmin;
    position: absolute;
    right: 25vmin;
    top: 35vmin;
}

.centre-line {
    border-bottom: solid 0.1vmin #fff;
    bottom: 50vmin;
    left: 0;
    position: absolute;
    right: 0;
    top: 40vmin;
}
