<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/userPagestyles.css}"/>
    <link rel="icon" type="image/gif/png"
          href="https://www.freepngimg.com/download/football/66114-soccer-photography-football-royalty-free-player-stock-playing.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>User Page</title>
    <style>
        #bet_game {
            margin-bottom: 5vmin;
            color: yellow;
            font-size: 2.25vmin;
            background-color: #73AD21;
            width: 80vmin;
            height: 45vmin;
        }

        #bet_game span {
            color: #ca2626;
        }

        .fm_title {
            color: #ca2626;
        }

        #football_manager {
            margin-top: 5vmin;
            background-color: #73AD21;
            color: yellow;
            font-size: 2.25vmin;
            width: 80vmin;
            height: 45vmin;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg" style=" color: darkgoldenrod ;font-size: large">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/bet/home}" style="color: burlywood">Bet game</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/fm/start}" style="color:darkseagreen">Football manager game</a>
            </li>

            <li class="nav-item dropdown mr-0">

                <a sec:authentication="name" class="nav-link dropdown-toggle"
                   style="color: darkviolet"
                   id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Your Profile</a>
                    <div class="dropdown-divider"></div>
                    <form id="form1" class="dropdown-item" th:action="@{/logout}" method="post">
                        <button th:type="submit" value="Logout" class=" btn dropdown-item">Logout</button>
                    </form>

                </div>
            </li>

            <div style="position:absolute; right: 5vmin">

                <div style="position: absolute; right: 25vmin">
                    <li style="justify-items: right;">
                        <h2 id="c_t"
                            th:text="${#dates.createNow().getHours() + ':' + #dates.createNow().getMinutes() + ':' + #dates.createNow().getSeconds()}"></h2>

                    </li>
                </div>

                <div style="position:relative; right:  0vmin; top: 0vmin">
                    <li class="nav-item">
                        <img th:src="${session.userPhoto}" class="img-thumbnail img-responsive" th:width="100vmin"
                             th:height="100vmin"/>
                    </li>
                </div>

            </div>
        </ul>

    </div>
</nav>

<div style="text-align: center">
    <h2 class="text-success mb-5">Welcome <span sec:authentication="name">UserName</span></h2>
</div>

<div style="position: fixed; margin-left: 10vmin; justify-content: center">
    <button class="btn btn-info center" type="button" style="margin-left: 35vmin; margin-bottom: 5vmin"
            data-toggle="collapse"
            data-target="#bet_game"
            aria-expanded="false"
            aria-controls="footwear">
        Bet game overview
    </button>

    <pre class="collapse" id="bet_game">


<b>                       <span>BET GAME (v. 1.0)</span>

 Bet football matches in <strong>SERIE A</strong>, <strong>PREMIER LEAGUE</strong> and <strong>LA LIGA</strong>
                    compete with other users,
 experience the thrill of the game with the latest <strong>Bet game</strong>

                        <span>GAME RULES:</span>

 Bet the match score and get points for each match accordingly:

          -> + 5 points if you guess the exact score
          -> + 3 points if you guess the win/lose/draw
          -> - 2 points if none of the above is met
 </b>

        </pre>
</div>


<div style="margin-left: 140vmin">
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#football_manager"
            style="margin-left: -5vmin"
            aria-expanded="true" aria-controls="footwear">
        Football manager overview
    </button>
    <pre class="collapse" id="football_manager" style="float: right; margin-right: 10vmin;">

<b>
         <span class="fm_title">FOOTBALL MANAGEMENT SIMULATION GAME (v. 1.0)</span>

    Become a manager and run your club, your way.
    Build your line-up, change tactics and compete
    with other users.

                        <span class="fm_title">GAME RULES:</span>

    Set the match squad not later than 5 minutes before match starts.

    Otherwise the match will not start and the final score will be set to:

        -> 0:0 if both team hadn't set their squads early enough
        -> walkover result (2:0 or 0:2)

</b>
        </pre>
</div>


<div style="position:fixed; bottom: 5vmin;left: 45vmin; color: #ca2626">
    <th:block>
        <tr style="color: #ca2626" th:text="|Logged users (${loggedUsers.size()}):&nbsp|"></tr>
        <tr th:each="user, iStat : ${loggedUsers}">
            <td th:style="${iStat.odd} == true ? 'color: red;': 'color: green'" th:text="${user}"></td>
            <td th:text="${iStat.last} == true ? '' :',&nbsp'"></td>
        </tr>
    </th:block>
</div>


<div class="fixed-bottom" th:insert="fragments/footer.html :: footer"></div>
<script th:src="@{/js/hourTime.js}"></script>

</body>
</html>
