<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg" style=" color: darkgoldenrod ;font-size: large">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}" style="color: burlywood">Back</a>
            </li>
        </ul>
    </div>
</nav>

<div class="float-right">
    <audio controls class="embed-responsive-item ui-icon-volume-off ui-icon-volume-on" loop autoplay="autoplay">
        <source src="/audio/cl_theme.mp3">
    </audio>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h2 class="text-success mb-5 text-center text-uppercase">Register</h2>
            <form class="jumbotron" action="#" th:action="@{/register}" th:object="${userDto}" novalidate
                  method="post" enctype="multipart/form-data">

                <div th:if="${confirmationMessage}" class="alert alert-success text-center"
                     role="alert" th:text="${confirmationMessage}"></div>

                <div th:if="${emailTaken}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${emailTaken}"></div>

                <div th:if="${usernameTaken}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${usernameTaken}"></div>

                <div th:if="${errors != null && errors.containsKey('firstName')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('firstName')}">
                </div>

                <div th:if="${errors != null && errors.containsKey('lastName')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('lastName')}">
                </div>

                <div th:if="${errors != null && errors.containsKey('gender')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('gender')}">
                </div>

                <div th:if="${errors != null && errors.containsKey('birthDate')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('birthDate')}">
                </div>
                <div th:if="${errors != null && errors.containsKey('password')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('password')}">
                </div>

                <div th:if="${errors != null && errors.containsKey('username')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('username')}">
                </div>

                <div th:if="${errors != null && errors.containsKey('email')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('email')}">
                </div>

                <div th:if="${errors != null && errors.containsKey('file')}"
                     class="alert alert-danger text-center" role="alert"
                     th:text="${errors.get('file')}"></div>

                <div class="form-group">
                    <label for="firstName">FirstName</label>
                    <input id="firstName" type="text" class="form-control" th:field="*{firstName}"/>
                </div>

                <div class="form-group">
                    <label for="lastName">LastName</label>
                    <input id="lastName" type="text" class="form-control" th:field="*{lastName}"/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" th:field="*{email}"/>
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" th:field="*{username}"/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" th:field="*{password.password}"/>
                </div>

                <div class="form-group">
                    <label for="passwordConfirmation">Retype password</label>
                    <input id="passwordConfirmation" type="password" class="form-control"
                           th:field="*{password.confirmationPassword}"/>
                </div>


                <div th:novalidate="novalidate" class="form-group file-upload-wrapper">
                    <label for="photo">Your photo</label>
                    <input id="photo" name="file" type="file"
                           class="file-upload form-control pt-1 align-content-center"/>
                </div>

                <div class="form-group">
                    <label for="birthDate">Birth date</label>
                    <input id="birthDate" type="date" class="form-control" th:field="*{birthDate}"/>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <ul id="gender" class="list-group list-inline-item">
                        <li th:each="g : ${genders}" class="list-group-item">
                            <input type="radio" th:field="*{gender}" th:value="${g}" class="mr-1"/>
                            <label th:text="${g}" class="mr-2"></label>
                        </li>
                    </ul>
                </div>

                <div class="form-group col-6 offset-5">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>

    <div th:insert="fragments/footer.html :: footer"></div>

</div>
</body>
</html>
